{
  "sourceMaps": true,
  "retainLines": true,
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./src",
        "@/config": "./config"
      }
    }]
  ]
}
