meta(name='viewport' content='width=device-width, initial-scale=1')
meta(content='IE=edge' http-equiv='X-UA-Compatible')

if keywords
  meta(name='keywords' content=keywords)

if description
  meta(name='description' content=description)

if csrf
  meta(name='csrf-token' content=csrf)
